{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="bg-gray-100">
  {% include 'navbar.html' %}
  {% include 'messages.html' %}
  <div class="max-w-6xl border mx-auto mt-4 p-4">
    {% block content %}
    {% endblock %}
  </div>
</body>
<script src="https://kit.fontawesome.com/9af4a6305a.js" crossorigin="anonymous"></script>

</html>